* {
  font-family: 'Quicksand', sans-serif;
  background-color: #2e2d2d;
  box-sizing: border-box;
}
.App {
  color: #c5be91;
  height: 2000px;
  min-width: 800px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  position: static;
  height: 0px;
}

.App-card {
  position: relative;
  top: 20vh;
  left: 45vw;
  width: 50%;
  border: 2px solid #c5be91; 
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.App-cardSticky {
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 33px;
  background-color: #c5be91;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  
}
.name {
  font-size: 70pt;
  background-color: #2e2d2d;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.nameSticky{
  background-color: #c5be91;
  font-size: 0;
}

.slogenSticky{
  background-color: #c5be91;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.slogenSticky ul{
  padding-left: 0%;
  display: inline;
  background-color: #c5be91;

}

.slogenSticky li{
  display: inline-block;
  width: 150px;
  height: 25px;
  list-style-type: none;
  font-size: 15pt;
  color: #2e2d2d;
  background-color: #c5be91;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.alined{
  display: block;
}

/* navbar tab animation */
.addtext {
  color: #2e2d2d;
  background-color: #c5be91;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}
.initText {
  color: #2e2d2d;
  background-color: #c5be91;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

.slogenSticky li:hover .shiftRight{
  width: 75px;
  left: 75px;
}
.slogenSticky li:hover .shiftLeft{
  width: 75px;
  right: 75px;
}

.shiftRight {
  position: absolute;
  bottom: 0;
  left: 150px;
  right: 0;
  background-color: #c5be91;
  overflow: hidden;
  width: 0px;
  height: 23px;
  transition: .5s ease;
}

.shiftLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #c5be91;
  overflow: hidden;
  width: 150px;
  height: 23px;
  transition: .5s ease;
}

.tab{
  position: relative;
  left: 0;
}

/* get in touch button */
.getInTouch{
  border: 2px solid #c5be91; 
  background-color: #c5be91;
  font-size: 20pt;
  margin-top: 30px;
  margin-bottom: 30px;
/* animation */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.getInTouch:hover{
  box-shadow: 0 0px 50px 0 #c5be91;
  font-size: 25pt;
}

.getInTouchSticky{
  position: absolute;
  right: 0%;
  padding: 2px;
  color: #c5be91;
  border: 2px solid #c5be91; 
  background-color: #2e2d2d;
  font-size: 15pt;
/* animation */
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
}

.getInTouchSticky:hover{
  box-shadow: inset 0 0 20px 5px #c5be91;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
