* {
  font-family: 'Quicksand', sans-serif;
  background-color: #2e2d2d;
}
.App {
  color: #c5be91;
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  position: static;
  width: 100%;
  height: 100vh;
}

.App-card {
  position: relative;
  top: 20vh;
  left: 40vw;
  width: 50vw;
  border: 2px solid #c5be91; 
  padding-top: 10px;
  padding-bottom: 10px;
}
.name {
  font-size: 70pt;
  margin: 0%;
}
.slogen{
  font-size: 20pt;
  display: block;
}
.getInTouch{
  border: 2px solid #c5be91; 
  background-color: #c5be91;
  font-size: 20pt;
  margin-top: 30px;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
