* {
  font-family: 'Quicksand', sans-serif;
  background-color: #2e2d2d;
}
.App {
  color: #c5be91;
  height: 2000px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  position: static;
  height: 0px;
}

.App-card {
  position: relative;
  top: 20vh;
  left: 40vw;
  width: 50%;
  border: 2px solid #c5be91; 
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.App-cardSticky {
  position: sticky;
  top: 0;
  left: 40vw;
  width: 50%;
  border: 2px solid #c5be91; 
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


.name {
  font-size: 70pt;
}
.slogen{
  font-size: 20pt;
  display: block;
}
/* get in touch button */
.getInTouch{
  border: 2px solid #c5be91; 
  background-color: #c5be91;
  font-size: 20pt;
  margin-top: 30px;
  margin-bottom: 30px;
/* animation */
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.getInTouch:hover{
  box-shadow: 0 0px 50px 0 #c5be91;
  font-size: 25pt;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
